{% load static %}
<link
  href="{% static '/css/about_us_style.css'  %}"
  rel="stylesheet"
  type="text/css"
/>

<!-- contact -->
<section class="bg-primary">
  <!-- py means padding from top and bottom;  display(1-4) means size adjustment -->
  <article class="py-5 text-center text-white">
    <div>
      <h3 class="display-4">+91 8617716633</h3>
      <p>Call us now. In case of any queries</p>
      <div class="batman_contact">
        <img src="/static/images/batmanrun.gif" alt="batman" />
      </div>
      <button class="btn btn-warning">Contact</button>
    </div>
  </article>
</section>
<!-- contact end-->
