{% load static %}
<link
  href="{% static '/css/about_us_style.css'  %}"
  rel="stylesheet"
  type="text/css"
/>

<!--gallery start-->
<div class="container"  >
    <h1 class="text_effects text-center text-capitalize pt-5">Gallery</h1>
    <hr class="w-25 mx-auto pt-5">
    <div class="row" >
        <div class="col-lg-4 col-md-4 col-12 mb-4" >
            <img src="/static/images/asd.jpg"  class="image-fluid">
        </div>
        <div class="col-lg-4 col-md-4 col-12 mb-4" >
            <img src="/static/images/asd.jpg"  class="image-fluid">
        </div>
        <div class="col-lg-4 col-md-4 col-12 mb-4" >
            <img src="/static/images/asd.jpg"  class="image-fluid">
        </div>
        <div class="col-lg-4 col-md-4 col-12 mb-4" >
            <img src="/static/images/asd.jpg"  class="image-fluid">
        </div>
        <div class="col-lg-4 col-md-4 col-12 mb-4" >
            <img src="/static/images/asd.jpg"  class="image-fluid">
        </div>
        <div class="col-lg-4 col-md-4 col-12 mb-4" >
            <img src="/static/images/asd.jpg"  class="image-fluid">
        </div>
        <div class="col-lg-4 col-md-4 col-12 mb-4" >
            <img src="/static/images/asd.jpg"  class="image-fluid">
        </div>
        <div class="col-lg-4 col-md-4 col-12 mb-4" >
            <img src="/static/images/asd.jpg"  class="image-fluid">
        </div>
        <div class="col-lg-4 col-md-4 col-12 mb-4" >
            <img src="/static/images/asd.jpg"  class="image-fluid">
        </div>
        
    </div>
</div>
</section>
<!--gallery end-->