<style>
  #colorchange {
    animation: colorchangethapa 1s infinite;
  }

  @keyframes colorchangethapa {
    0% {
      color: red;
    }
    25% {
      color: #bf55ec;
    }
    50% {
      color: white;
    }
    100% {
      color: #bf55ec;
    }
  }
</style>
<header id="header" class="">
  <!-- Create Menu in Navbar -->
  <!-- navbar-dark bg-dark to add text color all links in navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'pages:index' %}">Miguel Schaum Bhawan</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- to shift nav bar menu to the right side : ml-auto -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'pages:index' %}"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about:about-index' %}">About Us</a>
        </li>
        <ul class="navbar-nav ml-auto"></ul>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a id="colorchange" class="nav-link" href="{% url 'users:profile' %}"
            >{{user.username|title}}</a
          >
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>

        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">LogIn</a></li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:register' %}">Register</a>
        </li>
        {% endif %}
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </nav>
</header>
